body {
    font-family: "Futura-PT", sans-serif;        
    color: #5b5b5b;
}

.head-bio, .contact {
    font-family: 'Istok Web';    
}
h1, .icon-links {
    font-family: "Futura-PT", sans-serif;    
    text-transform: uppercase;
}

h1 {
    font-size: 5rem;
}

.head-bio, .skills {
    font-style: italic;    
}

.jumbotron {
    /* background-color: #f2b995; coral */
    background-color: #e5cc8f; /* gold */
    
}

h4, .jumbotron, .icon-button, .transition{
    text-align: center;
}

.project {
    padding: 0;
}

header h1 {
    color: white; 
}

.icon-button {
    margin: 0 auto;
    color: #1cb3a3;
    letter-spacing: 2px;
}

.icon-button:hover {
    color: #0e5a51;
}

#projects {
    background-color: #f0e8e1;
    margin: 0;    
    padding: 20px;    
}

.material-icons {
    font-size: 100px;
}

a {
    color: #5b5b5b;
}

.card-img-box {
    border-bottom: solid grey;
    background-color: black;
    border-radius: 5px 5px 0 0;
}

.card-img-top {
    opacity: .7;
    transition: all 0.5s;    
}

.card-img-top:hover {
    opacity: 1;
}

/* .card-body {
    background-color: rgb(250, 246, 227);
} */

.img-overlay-text {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

/* About Me */

#about {
    /* background-color: #a1bcc5; blue*/
    background-color: #dddada;
}

.left-square {
    padding: 40px 50px;
    line-height: 2rem;
}

.left-square a {
    color: rgb(7, 7, 112);
}

.right-square img {
    width: 100%;
}

.caption-top-right {
    position: absolute;
    top: 8px;
    right: 30px;
    color: white;
}

.about-images {
    text-align: center;
}

.about-images img {
    margin: 10px;
    height: 50px;
}

/* Footer */
footer {
    background-color: grey;
    margin: 0;
    padding: 15px;
}

.footer-note {
    font-style: italic;
}